dd{
    color:#525f61;
}
.ankaclass {
     width:40% ;  position: absolute; top: 20px; left: 500px;
}
.ankaaciklama{
    position: absolute; top: 480px; left: 800px;
}
.ankaozellik{
    position: absolute; top: 480px;
}